@using LConn1Blog.Models

    <header class="masthead" style="background-image: url('/Images/About-Me-Pages.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <img src="~/Images/lee_bw3.jpg" alt="" />
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h3>Hello, I am Lee Connelly</h3>
                        <span class="subheading">I am currently an Operations Manager with Motion Industries, but I am in the process of learning and inmproving my coding skills with the amazing people at Coder Foundry.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>