@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{

    <li class="nav-item">
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Logoff", "SpecialLogOff", "Account", null, new { @class = "nav-link" })
    </li>
}
else
{
    <li class="nav-item">
        @Html.ActionLink("Register", "Register", "Account", null, new { @class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Login", "Login", "Account", null, new { @class = "nav-link" })
    </li>
}
